src/main/wsdl/AccountService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="AccountServiceImplService" targetNamespace="http://svc.it.su.se/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://svc.it.su.se/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://svc.it.su.se/" version="1.0" xmlns:tns="http://svc.it.su.se/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="createSuPerson" type="tns:createSuPerson"/>
<xs:element name="createSuPersonResponse" type="tns:createSuPersonResponse"/>
<xs:element name="resetPassword" type="tns:resetPassword"/>
<xs:element name="resetPasswordResponse" type="tns:resetPasswordResponse"/>
<xs:element name="svcAudit" type="tns:svcAudit"/>
<xs:element name="svcSuPersonVO" type="tns:svcSuPersonVO"/>
<xs:element name="updatePrimaryAffiliation" type="tns:updatePrimaryAffiliation"/>
<xs:element name="updatePrimaryAffiliationResponse" type="tns:updatePrimaryAffiliationResponse"/>
<xs:element name="updateSuPerson" type="tns:updateSuPerson"/>
<xs:element name="updateSuPersonResponse" type="tns:updateSuPersonResponse"/>
<xs:complexType name="createSuPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:string"/>
      <xs:element minOccurs="0" name="domain" type="xs:string"/>
      <xs:element minOccurs="0" name="nin" type="xs:string"/>
      <xs:element minOccurs="0" name="givenName" type="xs:string"/>
      <xs:element minOccurs="0" name="sn" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
      <xs:element minOccurs="0" name="person" type="tns:svcSuPersonVO"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="svcSuPersonVO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="eduPersonAffiliation" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="eduPersonEntitlement" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="sukatPULAttributes" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="mail" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="mailLocalAddress" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="eduPersonOrgUnitDN" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="homePostalAddress" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="eduPersonPrimaryAffiliation" type="xs:string"/>
    <xs:attribute name="socialSecurityNumber" type="xs:string"/>
    <xs:attribute name="givenName" type="xs:string"/>
    <xs:attribute name="sn" type="xs:string"/>
    <xs:attribute name="displayName" type="xs:string"/>
    <xs:attribute name="title" type="xs:string"/>
    <xs:attribute name="roomNumber" type="xs:string"/>
    <xs:attribute name="telephoneNumber" type="xs:string"/>
    <xs:attribute name="mobile" type="xs:string"/>
    <xs:attribute name="labeledURI" type="xs:string"/>
    <xs:attribute name="sukatLOAFromDate" type="xs:string"/>
    <xs:attribute name="sukatLOAToDate" type="xs:string"/>
    <xs:attribute name="eduPersonPrimaryOrgUnitDN" type="xs:string"/>
    <xs:attribute name="registeredAddress" type="xs:string"/>
    <xs:attribute name="mailRoutingAddress" type="xs:string"/>
    <xs:attribute name="departmentNumber" type="xs:string"/>
    <xs:attribute name="homeMobilePhone" type="xs:string"/>
    <xs:attribute name="homePhone" type="xs:string"/>
    <xs:attribute name="homeLocalityName" type="xs:string"/>
    <xs:attribute name="homePostalCode" type="xs:string"/>
    <xs:attribute name="description" type="xs:string"/>
    <xs:attribute name="sukatComment" type="xs:string"/>
  </xs:complexType>
<xs:complexType name="svcAudit">
    <xs:sequence/>
    <xs:attribute name="uid" type="xs:string"/>
    <xs:attribute name="ipAddress" type="xs:string"/>
    <xs:attribute name="client" type="xs:string"/>
  </xs:complexType>
<xs:complexType name="createSuPersonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateSuPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:string"/>
      <xs:element minOccurs="0" name="roleDN" type="xs:string"/>
      <xs:element minOccurs="0" name="person" type="tns:svcSuPersonVO"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateSuPersonResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="updatePrimaryAffiliation">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:string"/>
      <xs:element minOccurs="0" name="affiliation" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updatePrimaryAffiliationResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="resetPassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="resetPasswordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="resetPasswordResponse">
    <wsdl:part element="tns:resetPasswordResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateSuPerson">
    <wsdl:part element="tns:updateSuPerson" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSuPerson">
    <wsdl:part element="tns:createSuPerson" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePrimaryAffiliationResponse">
    <wsdl:part element="tns:updatePrimaryAffiliationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSuPersonResponse">
    <wsdl:part element="tns:createSuPersonResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetPassword">
    <wsdl:part element="tns:resetPassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateSuPersonResponse">
    <wsdl:part element="tns:updateSuPersonResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePrimaryAffiliation">
    <wsdl:part element="tns:updatePrimaryAffiliation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountServiceImpl">
    <wsdl:operation name="createSuPerson">
      <wsdl:input message="tns:createSuPerson" name="createSuPerson">
    </wsdl:input>
      <wsdl:output message="tns:createSuPersonResponse" name="createSuPersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSuPerson">
      <wsdl:input message="tns:updateSuPerson" name="updateSuPerson">
    </wsdl:input>
      <wsdl:output message="tns:updateSuPersonResponse" name="updateSuPersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePrimaryAffiliation">
      <wsdl:input message="tns:updatePrimaryAffiliation" name="updatePrimaryAffiliation">
    </wsdl:input>
      <wsdl:output message="tns:updatePrimaryAffiliationResponse" name="updatePrimaryAffiliationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <wsdl:input message="tns:resetPassword" name="resetPassword">
    </wsdl:input>
      <wsdl:output message="tns:resetPasswordResponse" name="resetPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServiceImplServiceSoapBinding" type="tns:AccountServiceImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createSuPerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createSuPerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createSuPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSuPerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateSuPerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateSuPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePrimaryAffiliation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updatePrimaryAffiliation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePrimaryAffiliationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="resetPassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="resetPasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountServiceImplService">
    <wsdl:port binding="tns:AccountServiceImplServiceSoapBinding" name="AccountServiceImplPort">
      <soap:address location="https://jqvarlocal.it.su.se/AccountService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>