src/main/wsdl/AccountService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="AccountServiceImplService" targetNamespace="http://svc.it.su.se/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://svc.it.su.se/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://svc.it.su.se/" version="1.0" xmlns:tns="http://svc.it.su.se/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="resetPassword" type="tns:resetPassword"/>
<xs:element name="resetPasswordResponse" type="tns:resetPasswordResponse"/>
<xs:element name="svcAudit" type="tns:svcAudit"/>
<xs:element name="updateAffiliation" type="tns:updateAffiliation"/>
<xs:element name="updateAffiliationResponse" type="tns:updateAffiliationResponse"/>
<xs:complexType name="updateAffiliation">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:string"/>
      <xs:element minOccurs="0" name="affiliation" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="svcAudit">
    <xs:sequence/>
    <xs:attribute name="uid" type="xs:string"/>
    <xs:attribute name="ipAddress" type="xs:string"/>
    <xs:attribute name="client" type="xs:string"/>
  </xs:complexType>
<xs:complexType name="updateAffiliationResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="resetPassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="resetPasswordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="resetPasswordResponse">
    <wsdl:part element="tns:resetPasswordResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetPassword">
    <wsdl:part element="tns:resetPassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAffiliation">
    <wsdl:part element="tns:updateAffiliation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAffiliationResponse">
    <wsdl:part element="tns:updateAffiliationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountServiceImpl">
    <wsdl:operation name="updateAffiliation">
      <wsdl:input message="tns:updateAffiliation" name="updateAffiliation">
    </wsdl:input>
      <wsdl:output message="tns:updateAffiliationResponse" name="updateAffiliationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <wsdl:input message="tns:resetPassword" name="resetPassword">
    </wsdl:input>
      <wsdl:output message="tns:resetPasswordResponse" name="resetPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServiceImplServiceSoapBinding" type="tns:AccountServiceImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="resetPassword">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="resetPassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="resetPasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAffiliation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateAffiliation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateAffiliationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountServiceImplService">
    <wsdl:port binding="tns:AccountServiceImplServiceSoapBinding" name="AccountServiceImplPort">
      <soap:address location="https://jqvarlocal.it.su.se/AccountService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>