src/main/wsdl/EnrollmentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="EnrollmentServiceImplService" targetNamespace="http://svc.it.su.se/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://svc.it.su.se/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://svc.it.su.se/" version="1.0" xmlns:tns="http://svc.it.su.se/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="enrollUser" type="tns:enrollUser"/>
<xs:element name="enrollUserResponse" type="tns:enrollUserResponse"/>
<xs:element name="resetAndExpirePwd" type="tns:resetAndExpirePwd"/>
<xs:element name="resetAndExpirePwdResponse" type="tns:resetAndExpirePwdResponse"/>
<xs:element name="svcAudit" type="tns:svcAudit"/>
<xs:element name="svcUidPwd" type="tns:svcUidPwd"/>
<xs:complexType name="resetAndExpirePwd">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="svcAudit">
    <xs:sequence/>
    <xs:attribute name="uid" type="xs:string"/>
    <xs:attribute name="ipAddress" type="xs:string"/>
    <xs:attribute name="client" type="xs:string"/>
  </xs:complexType>
<xs:complexType name="resetAndExpirePwdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="enrollUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="domain" type="xs:string"/>
      <xs:element minOccurs="0" name="givenName" type="xs:string"/>
      <xs:element minOccurs="0" name="sn" type="xs:string"/>
      <xs:element minOccurs="0" name="eduPersonPrimaryAffiliation" type="xs:string"/>
      <xs:element minOccurs="0" name="nin" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="enrollUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:svcUidPwd"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="svcUidPwd">
    <xs:sequence/>
    <xs:attribute name="uid" type="xs:string"/>
    <xs:attribute name="password" type="xs:string"/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="resetAndExpirePwdResponse">
    <wsdl:part element="tns:resetAndExpirePwdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enrollUser">
    <wsdl:part element="tns:enrollUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetAndExpirePwd">
    <wsdl:part element="tns:resetAndExpirePwd" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enrollUserResponse">
    <wsdl:part element="tns:enrollUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EnrollmentServiceImpl">
    <wsdl:operation name="resetAndExpirePwd">
      <wsdl:input message="tns:resetAndExpirePwd" name="resetAndExpirePwd">
    </wsdl:input>
      <wsdl:output message="tns:resetAndExpirePwdResponse" name="resetAndExpirePwdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enrollUser">
      <wsdl:input message="tns:enrollUser" name="enrollUser">
    </wsdl:input>
      <wsdl:output message="tns:enrollUserResponse" name="enrollUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnrollmentServiceImplServiceSoapBinding" type="tns:EnrollmentServiceImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="resetAndExpirePwd">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="resetAndExpirePwd">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="resetAndExpirePwdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enrollUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="enrollUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enrollUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnrollmentServiceImplService">
    <wsdl:port binding="tns:EnrollmentServiceImplServiceSoapBinding" name="EnrollmentServiceImplPort">
      <soap:address location="https://jqvarlocal.it.su.se/EnrollmentService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>