src/main/wsdl/EntitlementService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://svc.it.su.se/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EntitlementServiceImplService" targetNamespace="http://svc.it.su.se/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://svc.it.su.se/" elementFormDefault="unqualified" targetNamespace="http://svc.it.su.se/" version="1.0">

  <xs:element name="addEntitlement" type="tns:addEntitlement"/>

  <xs:element name="addEntitlementResponse" type="tns:addEntitlementResponse"/>

  <xs:element name="removeEntitlement" type="tns:removeEntitlement"/>

  <xs:element name="removeEntitlementResponse" type="tns:removeEntitlementResponse"/>

  <xs:complexType name="removeEntitlement">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:string"/>
      <xs:element minOccurs="0" name="entitlement" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeEntitlementResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="addEntitlement">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:string"/>
      <xs:element minOccurs="0" name="entitlement" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addEntitlementResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="addEntitlementResponse">
    <wsdl:part element="tns:addEntitlementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeEntitlement">
    <wsdl:part element="tns:removeEntitlement" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEntitlement">
    <wsdl:part element="tns:addEntitlement" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeEntitlementResponse">
    <wsdl:part element="tns:removeEntitlementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EntitlementServiceImpl">
    <wsdl:operation name="removeEntitlement">
      <wsdl:input message="tns:removeEntitlement" name="removeEntitlement">
    </wsdl:input>
      <wsdl:output message="tns:removeEntitlementResponse" name="removeEntitlementResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEntitlement">
      <wsdl:input message="tns:addEntitlement" name="addEntitlement">
    </wsdl:input>
      <wsdl:output message="tns:addEntitlementResponse" name="addEntitlementResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EntitlementServiceImplServiceSoapBinding" type="tns:EntitlementServiceImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="removeEntitlement">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeEntitlement">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeEntitlementResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEntitlement">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addEntitlement">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEntitlementResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntitlementServiceImplService">
    <wsdl:port binding="tns:EntitlementServiceImplServiceSoapBinding" name="EntitlementServiceImplPort">
      <soap:address location="http://melkor.it.su.se:9090/EntitlementService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>