src/main/wsdl/ServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ServiceServiceImplService" targetNamespace="http://svc.it.su.se/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://svc.it.su.se/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://svc.it.su.se/" version="1.0" xmlns:tns="http://svc.it.su.se/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="blockService" type="tns:blockService"/>
<xs:element name="blockServiceResponse" type="tns:blockServiceResponse"/>
<xs:element name="enableServiceFully" type="tns:enableServiceFully"/>
<xs:element name="enableServiceFullyResponse" type="tns:enableServiceFullyResponse"/>
<xs:element name="getServiceTemplate" type="tns:getServiceTemplate"/>
<xs:element name="getServiceTemplateResponse" type="tns:getServiceTemplateResponse"/>
<xs:element name="getServiceTemplates" type="tns:getServiceTemplates"/>
<xs:element name="getServiceTemplatesResponse" type="tns:getServiceTemplatesResponse"/>
<xs:element name="getServices" type="tns:getServices"/>
<xs:element name="getServicesResponse" type="tns:getServicesResponse"/>
<xs:element name="suService" type="tns:suService"/>
<xs:element name="suServiceDescription" type="tns:suServiceDescription"/>
<xs:element name="svcAudit" type="tns:svcAudit"/>
<xs:element name="unblockService" type="tns:unblockService"/>
<xs:element name="unblockServiceResponse" type="tns:unblockServiceResponse"/>
<xs:complexType name="getServices">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="svcAudit">
    <xs:sequence/>
    <xs:attribute name="uid" type="xs:string"/>
    <xs:attribute name="ipAddress" type="xs:string"/>
    <xs:attribute name="client" type="xs:string"/>
  </xs:complexType>
<xs:complexType name="getServicesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:suService"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="suService">
    <xs:sequence/>
    <xs:attribute name="cn" type="xs:string"/>
    <xs:attribute name="myowner" type="xs:string"/>
    <xs:attribute name="suServiceType" type="xs:string"/>
    <xs:attribute name="suServiceStatus" type="xs:string"/>
    <xs:attribute name="suServiceStartTime" type="xs:string"/>
    <xs:attribute name="roleOccupant" type="xs:string"/>
    <xs:attribute name="objectClass">
      <xs:simpleType>
        <xs:list itemType="xs:string"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
<xs:complexType name="getServiceTemplates">
    <xs:sequence>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getServiceTemplatesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:suServiceDescription"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="suServiceDescription">
    <xs:sequence/>
    <xs:attribute name="cn" type="xs:string"/>
    <xs:attribute name="suServiceType" type="xs:string"/>
    <xs:attribute name="suServicePolicy" type="xs:string"/>
    <xs:attribute name="suServiceURI" type="xs:string"/>
    <xs:attribute name="description" type="xs:string"/>
    <xs:attribute name="displayName" type="xs:string"/>
  </xs:complexType>
<xs:complexType name="blockService">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:string"/>
      <xs:element minOccurs="0" name="serviceType" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="blockServiceResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="enableServiceFully">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:string"/>
      <xs:element minOccurs="0" name="serviceType" type="xs:string"/>
      <xs:element minOccurs="0" name="qualifier" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="enableServiceFullyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:suService"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getServiceTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="serviceType" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getServiceTemplateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:suServiceDescription"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="unblockService">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:string"/>
      <xs:element minOccurs="0" name="serviceType" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="unblockServiceResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="enableServiceFully">
    <wsdl:part element="tns:enableServiceFully" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="unblockService">
    <wsdl:part element="tns:unblockService" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="blockService">
    <wsdl:part element="tns:blockService" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceTemplatesResponse">
    <wsdl:part element="tns:getServiceTemplatesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServices">
    <wsdl:part element="tns:getServices" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceTemplates">
    <wsdl:part element="tns:getServiceTemplates" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="unblockServiceResponse">
    <wsdl:part element="tns:unblockServiceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceTemplateResponse">
    <wsdl:part element="tns:getServiceTemplateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enableServiceFullyResponse">
    <wsdl:part element="tns:enableServiceFullyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="blockServiceResponse">
    <wsdl:part element="tns:blockServiceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServicesResponse">
    <wsdl:part element="tns:getServicesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceTemplate">
    <wsdl:part element="tns:getServiceTemplate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceServiceImpl">
    <wsdl:operation name="getServices">
      <wsdl:input message="tns:getServices" name="getServices">
    </wsdl:input>
      <wsdl:output message="tns:getServicesResponse" name="getServicesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceTemplates">
      <wsdl:input message="tns:getServiceTemplates" name="getServiceTemplates">
    </wsdl:input>
      <wsdl:output message="tns:getServiceTemplatesResponse" name="getServiceTemplatesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="blockService">
      <wsdl:input message="tns:blockService" name="blockService">
    </wsdl:input>
      <wsdl:output message="tns:blockServiceResponse" name="blockServiceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enableServiceFully">
      <wsdl:input message="tns:enableServiceFully" name="enableServiceFully">
    </wsdl:input>
      <wsdl:output message="tns:enableServiceFullyResponse" name="enableServiceFullyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceTemplate">
      <wsdl:input message="tns:getServiceTemplate" name="getServiceTemplate">
    </wsdl:input>
      <wsdl:output message="tns:getServiceTemplateResponse" name="getServiceTemplateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unblockService">
      <wsdl:input message="tns:unblockService" name="unblockService">
    </wsdl:input>
      <wsdl:output message="tns:unblockServiceResponse" name="unblockServiceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceServiceImplServiceSoapBinding" type="tns:ServiceServiceImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getServiceTemplates">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getServiceTemplates">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServiceTemplatesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getServices">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="blockService">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="blockService">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="blockServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enableServiceFully">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="enableServiceFully">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enableServiceFullyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceTemplate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getServiceTemplate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServiceTemplateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unblockService">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="unblockService">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="unblockServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceServiceImplService">
    <wsdl:port binding="tns:ServiceServiceImplServiceSoapBinding" name="ServiceServiceImplPort">
      <soap:address location="https://jqvar.dev.it.su.se/ServiceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>