src/main/wsdl/WebServiceAdmin.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="WebServiceAdminImplService" targetNamespace="http://svc.it.su.se/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://svc.it.su.se/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://svc.it.su.se/" version="1.0" xmlns:tns="http://svc.it.su.se/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="setApplicationLogLevel" type="tns:setApplicationLogLevel"/>
<xs:element name="setApplicationLogLevelResponse" type="tns:setApplicationLogLevelResponse"/>
<xs:element name="setContainerLogLevel" type="tns:setContainerLogLevel"/>
<xs:element name="setContainerLogLevelResponse" type="tns:setContainerLogLevelResponse"/>
<xs:element name="setCxfLogLevel" type="tns:setCxfLogLevel"/>
<xs:element name="setCxfLogLevelResponse" type="tns:setCxfLogLevelResponse"/>
<xs:element name="setRootLogLevel" type="tns:setRootLogLevel"/>
<xs:element name="setRootLogLevelResponse" type="tns:setRootLogLevelResponse"/>
<xs:element name="setSpringLogLevel" type="tns:setSpringLogLevel"/>
<xs:element name="setSpringLogLevelResponse" type="tns:setSpringLogLevelResponse"/>
<xs:element name="svcAudit" type="tns:svcAudit"/>
<xs:complexType name="setContainerLogLevel">
    <xs:sequence>
      <xs:element minOccurs="0" name="level" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="svcAudit">
    <xs:sequence/>
    <xs:attribute name="uid" type="xs:string"/>
    <xs:attribute name="ipAddress" type="xs:string"/>
    <xs:attribute name="client" type="xs:string"/>
  </xs:complexType>
<xs:complexType name="setContainerLogLevelResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="setRootLogLevel">
    <xs:sequence>
      <xs:element minOccurs="0" name="level" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="setRootLogLevelResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="setCxfLogLevel">
    <xs:sequence>
      <xs:element minOccurs="0" name="level" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="setCxfLogLevelResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="setApplicationLogLevel">
    <xs:sequence>
      <xs:element minOccurs="0" name="level" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="setApplicationLogLevelResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="setSpringLogLevel">
    <xs:sequence>
      <xs:element minOccurs="0" name="level" type="xs:string"/>
      <xs:element minOccurs="0" name="audit" type="tns:svcAudit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="setSpringLogLevelResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="setApplicationLogLevel">
    <wsdl:part element="tns:setApplicationLogLevel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setSpringLogLevel">
    <wsdl:part element="tns:setSpringLogLevel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setApplicationLogLevelResponse">
    <wsdl:part element="tns:setApplicationLogLevelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setRootLogLevel">
    <wsdl:part element="tns:setRootLogLevel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setContainerLogLevelResponse">
    <wsdl:part element="tns:setContainerLogLevelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCxfLogLevel">
    <wsdl:part element="tns:setCxfLogLevel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCxfLogLevelResponse">
    <wsdl:part element="tns:setCxfLogLevelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setRootLogLevelResponse">
    <wsdl:part element="tns:setRootLogLevelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setContainerLogLevel">
    <wsdl:part element="tns:setContainerLogLevel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setSpringLogLevelResponse">
    <wsdl:part element="tns:setSpringLogLevelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WebServiceAdminImpl">
    <wsdl:operation name="setContainerLogLevel">
      <wsdl:input message="tns:setContainerLogLevel" name="setContainerLogLevel">
    </wsdl:input>
      <wsdl:output message="tns:setContainerLogLevelResponse" name="setContainerLogLevelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setRootLogLevel">
      <wsdl:input message="tns:setRootLogLevel" name="setRootLogLevel">
    </wsdl:input>
      <wsdl:output message="tns:setRootLogLevelResponse" name="setRootLogLevelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCxfLogLevel">
      <wsdl:input message="tns:setCxfLogLevel" name="setCxfLogLevel">
    </wsdl:input>
      <wsdl:output message="tns:setCxfLogLevelResponse" name="setCxfLogLevelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setApplicationLogLevel">
      <wsdl:input message="tns:setApplicationLogLevel" name="setApplicationLogLevel">
    </wsdl:input>
      <wsdl:output message="tns:setApplicationLogLevelResponse" name="setApplicationLogLevelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSpringLogLevel">
      <wsdl:input message="tns:setSpringLogLevel" name="setSpringLogLevel">
    </wsdl:input>
      <wsdl:output message="tns:setSpringLogLevelResponse" name="setSpringLogLevelResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceAdminImplServiceSoapBinding" type="tns:WebServiceAdminImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setContainerLogLevel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setContainerLogLevel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setContainerLogLevelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setRootLogLevel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setRootLogLevel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setRootLogLevelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCxfLogLevel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setCxfLogLevel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setCxfLogLevelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setApplicationLogLevel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setApplicationLogLevel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setApplicationLogLevelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSpringLogLevel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setSpringLogLevel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setSpringLogLevelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceAdminImplService">
    <wsdl:port binding="tns:WebServiceAdminImplServiceSoapBinding" name="WebServiceAdminImplPort">
      <soap:address location="http://jqvarlocal.it.su.se:8080/WebServiceAdmin"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>